@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: 'Fira code', Helvetica, sans-serif;

    scrollbar-width: none;  
  scrollbar-color: gray transparent;
  scroll-behavior: smooth;
}
.scrollbar-thin{
  scrollbar-width: thin;
}
